<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOJL7bSmedLX1mBKj-58Pk6yY20kIyUO4</string>
	<key>GCM_SENDER_ID</key>
	<string>1069622762551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>itenas.thito.mobileapp</string>
	<key>PROJECT_ID</key>
	<string>mobileapp-6bbb6</string>
	<key>STORAGE_BUCKET</key>
	<string>mobileapp-6bbb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069622762551:ios:84e88654c95ccb5fe633b2</string>
</dict>
</plist>